{{#each Categories}}
    <section class="category" data-category="{{Name}}">
        <header>
            <h2>{{Name}}</h2>
        </header>
        <table class="metrics">
            <thead>
                <tr>
                    <th></th>
                    {{#each Dimensions}}
                        <th>{{this}}</th>
                    {{/each}}
                    <th>Name</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </section>
{{/each}}
