<div id="settings">
    <label for="range">Range:</label>
    <select id="range">
        <option value="3600000">Last hour</option>
        <option value="10800000">Last 3 hours</option>
        <option value="21600000">Last 6 hours</option>
        <option value="43200000">Last 12 hours</option>
        <option value="86400000">Last day</option>
        <option value="604800000">Last week</option>
        <option value="1209600000">Last 2 weeks</option>
    </select>
    <label for="period">Period:</label>
    <select id="period">
        <option value="60">1 minute</option>
        <option value="300">5 minutes</option>
        <option value="900">15 minutes</option>
        <option value="3600">1 hour</option>
        <option value="86400">1 day</option>
    </select>
    <label for="statistic">Statistic:</label>
    <select id="statistic">
        <option value="Average">Average</option>
        <option value="Maximum">Maximum</option>
        <option value="Minimum">Minimum</option>
        <option value="Sum">Sum</option>
        <option value="SampleCount">Samples</option>
    </select>
</div>
<div id="plot"></div>
